option_settings:
  #aws:elasticbeanstalk:application:environment:
  #  NOTIFICATION_TOPIC: '`{"Ref" : "NotificationTopic"}`'  
  #aws:autoscaling:launchconfiguration:
  #  EC2KeyName: restful-web-service-key-pair
  #  IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  #aws:autoscaling:updatepolicy:rollingupdate:
  #  RollingUpdateEnabled: true
  #  RollingUpdateType: Health
  #aws:elasticbeanstalk:command:
  #  BatchSize: '30'
  #  BatchSizeType: Percentage
  #aws:elasticbeanstalk:environment:
  #  LoadBalancerType: application
  #  ServiceRole: aws-elasticbeanstalk-service-role
  #aws:elasticbeanstalk:environment:process:springboot:
  #  HealthCheckPath: /hello
  #  Port: '8080'
  #  Protocol: HTTP
  #aws:elasticbeanstalk:healthreporting:system:
  #  SystemType: enhanced
  #aws:elb:loadbalancer:
  #  CrossZone: true
  #aws:elb:policies:
  #  ConnectionDrainingEnabled: true
  #aws:elbv2:listener:default:
  #  DefaultProcess: springboot
  #  ListenerEnabled: 'true'
  #  Protocol: HTTP